[submodule "utils"]
	path = utils
	url = https://github.com/crastinus/utils
[submodule "third_party/MetaStuff"]
	path = third_party/MetaStuff
	url = https://github.com/crastinus/MetaStuff
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/miloyip/rapidjson
